@font-face {
  font-family: 'BMHANNAAir';
  src: url('BMHANNAAir_ttf.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMYEONSUNG';
  src: url('BMYEONSUNG_ttf.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}